

body {
  background-color:#fec107;
  font-family:'Montserrat', sans-serif;
}

.form {


}

.title {
  color: #fec107;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
  font-size: 2.5rem;
  text-transform: uppercase;

}



label {
/* float: left; */
width: 30%;
margin: 0 25px;

}

input {
  padding: 8px 10px;
  border: 1px solid #757575;
  outline: none;
  width: 50%;

}

.gender {
  width: 53%;
  padding: 8px 10px;
  /* border-radius: 3px; */
    border: 1px solid #757575;
}

select {
appearance: none;
}

textarea {
  resize: none;
  width: 52%;
  border: 1px solid #757575;
}

.checkb {


}

#checkBox {
float: left;
margin-right: 3%;
width: auto;



  }


.wrapper {
  background-color: #fff;
  max-width: 50%;
  width: 100%;
  margin: 20px auto;
padding: 30px 30px 30px 30px;
color: #757575;
}


.inputField{
  margin-bottom: 30px;
 display: flex;
}

.btn {
  background-color: #fec107;
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;

}

.btn:hover {
  background-color:#FCD900;
}
/*
@media (max-width:420px) {
  .checkBox {
    flex-direction: column;
    align-items: flex-start;
  }
} */
